.form {
  &__warpper {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1rem;
  }

  &__icon-validate::before {
    content: "";
    background: url(../../images/icon-error.svg) no-repeat;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;
    transition: all 0.3s;
    opacity: 0;
  }

  &__msg-validate {
    align-self: end;
    color: $clr-primary-red;
    opacity: 0;
  }

  &__msg-validate--active {
    opacity: 1;
  }

  &__disclaimer {
    font-size: 12px;
    display: block;
    text-align: center;
    color: $clr-grayish-blue;
    padding: 0 12px;
    span {
      font-weight: $fw-700;
      color: $clr-primary-red;
    }
  }
}
